.footer-container{
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(30, 30, 30);
    justify-content: flex-end;
}

.footer-menu{
    display: flex;
    margin: auto;
}

.footer-link{
    color: white;
    text-decoration: none;
    margin: 0 1vw;
}

.footer-link:hover{
    color:#86aee0;
    text-decoration: none;
    transform: scale(1.2);
}

.go-top{
    margin-right: 0.5vw;
    width: 6vh;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.go-top:hover{
    transform: scale(1.1);
    cursor: pointer;
}